@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --color-primary: #1d1d1b;
  --color-secondary: #0d0d0c;
  --color-neutral: #a5a5a5;

  --font-fallback:
    'Adjusted Arial Fallback', system-ui, -apple-system, blinkmacsystemfont, 'Segoe UI',
    'Noto Sans', helvetica, arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';

  --font-primary: 'Raleway';
  --font-heading: 'Cocogoose';
}

@layer base {
  /* Scroll */
  * {
    scrollbar-color: var(--color-primary) var(--color-stone-50);
    scrollbar-width: thin;
  }
}
html,
body {
  margin: 0;
  padding: 0;
}

/* Tipografías personalizadas */
@font-face {
  font-family: 'Adjusted Arial Fallback';
  src: local(Arial);
  size-adjust: 112%;
  ascent-override: 74%;
  descent-override: normal;
  line-gap-override: normal;
}

@font-face {
  font-family: 'Cocogoose';
  src: url('/fonts/Cocogoose-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: var(--font-primary), var(--font-fallback);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
